.header {
    background-color: #eee;
    background-image: url('http://wp.magnium-themes.com/himmelen/himmelen-0/2015/09/22/wine-oclock-ad-astra/');
}
.settings {
    position: absolute;
    width: 200px;
    left: -200px;
    background: #555;
}
.action-btn {
    top: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: -60px;
    background: red;
}